@model LiquorKeeper.Models.Store

@{
    ViewBag.Title = "Details";
}

<section id="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title-white">
                <h2>@Model.Name</h2>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="container">
        <div class="row">
            <ul class="list-inline portfolio text-center">
                <li data-tag="graphics">
                    <div class="thumbs">
                        <img src="/public/img/portfolio1.jpg" class="img-responsive" alt="Image Size 430x280">
                        <a href="@Url.Action("Edit", "Store", new { id = Model.ID })">
                            <span class="title">
                                <span><i class="fa fa-link fa-2x"></i></span>
                            </span>
                        </a>
                    </div>

                    <div class="project-title margin-30">
                        <h5>Manage Campaigns & Promotions</h5>
                    </div>
                </li>
                <li data-tag="graphics">
                    <div class="thumbs">
                        <img src="/public/img/portfolio1.jpg" class="img-responsive" alt="Image Size 430x280">
                        <a href="@Url.Action("Edit", "Store", new { id = Model.ID })">
                            <span class="title">
                                <span><i class="fa fa-link fa-2x"></i></span>
                            </span>
                        </a>
                    </div>

                    <div class="project-title margin-30">
                        <h5>Manage Inventory</h5>
                    </div>
                </li>
                <li data-tag="graphics">
                    <div class="thumbs">
                        <img src="/public/img/portfolio1.jpg" class="img-responsive" alt="Image Size 430x280">
                        <a href="@Url.Action("Edit", "Store", new { id = Model.ID })">
                            <span class="title">
                                <span><i class="fa fa-link fa-2x"></i></span>
                            </span>
                        </a>
                    </div>

                    <div class="project-title margin-30">
                        <h5>Manage Newsletter</h5>
                    </div>
                </li>
                <li data-tag="graphics">
                    <div class="thumbs">
                        <img src="/public/img/portfolio1.jpg" class="img-responsive" alt="Image Size 430x280">
                        <a href="@Url.Action("Edit", "Store", new { id = Model.ID })">
                            <span class="title">
                                <span><i class="fa fa-link fa-2x"></i></span>
                            </span>
                        </a>
                    </div>

                    <div class="project-title margin-30">
                        <h5>Manage Store Information</h5>
                    </div>
                </li>
                <li data-tag="graphics">
                    <div class="thumbs">
                        <img src="/public/img/portfolio1.jpg" class="img-responsive" alt="Image Size 430x280">
                        <a href="@Url.Action("Edit", "Store", new { id = Model.ID })">
                            <span class="title">
                                <span><i class="fa fa-link fa-2x"></i></span>
                            </span>
                        </a>
                    </div>

                    <div class="project-title margin-30">
                        <h5>Manage Theme</h5>
                    </div>
                </li>
                <li data-tag="graphics">
                    <div class="thumbs">
                        <img src="/public/img/portfolio1.jpg" class="img-responsive" alt="Image Size 430x280">
                        <a href="@Url.Action("Edit", "Store", new { id = Model.ID })">
                            <span class="title">
                                <span><i class="fa fa-link fa-2x"></i></span>
                            </span>
                        </a>
                    </div>

                    <div class="project-title margin-30">
                        <h5>Manage Billing</h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>