@model LiquorKeeper.Models.Store

@{
    ViewBag.Title = "Edit";
}

<!--Page Title-->
<section id="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title-white">
                <h2>Update Store Information</h2>
            </div>
        </div>
    </div>
</section>

<!--Content Section-->
<section id="content">
    <div class="container">

        <div class="row">
            <div class="col-md-8">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.ID)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsPrimary, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.IsPrimary)
                                @Html.ValidationMessageFor(model => model.IsPrimary)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Address)
                                @Html.ValidationMessageFor(model => model.Address)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.City)
                                @Html.ValidationMessageFor(model => model.City)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.State, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.State)
                                @Html.ValidationMessageFor(model => model.State)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Zip, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Zip)
                                @Html.ValidationMessageFor(model => model.Zip)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PrimaryPhone, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PrimaryPhone)
                                @Html.ValidationMessageFor(model => model.PrimaryPhone)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Hours, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Hours)
                                @Html.ValidationMessageFor(model => model.Hours)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Update" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>  

                @*<div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>*@

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
